span {
  font-size: 36px;
  font-weight: bolder;
  /* font-style: oblique; */
  text-decoration: none;
  text-align: justify;
  display: block;
  width: 100%;
  /* line-height: 1;
  word-spacing: 10px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px black; */
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
