div {
  background-color: chocolate;
  color: white;
  padding: 20px;
}

section {
  background-color: gray;
  padding: 40px;
}

/*O !important prioriza sobrescrevendo sobre tudo*/
div p {
  font-size: 48px !important;
}

/*Mais especifico*/
section div p {
  font-size: 64px;
  font-weight: bold;
}