div {
  background-color: blue;
  height: 300px;
  font-size: 64px;
}

div p {
  color: white;
}

/* A classe é uma maneira de agrupar estilos e replicar eles para vários elementos de uma vez só */
div .yellow {
  color: yellow;
}
