div {
  height: 500px;
  background-color: blue;
}

p {
  color: white;
  font-size: 56px;
}

/* Essa é a forma de ser mais seletivo, determinado o estilo do paragrafo que está dentro da div*/
div > p {
  font-size: 64px;
}

/* Apenas o primeiro span que estiver próximo ou depois de um parágrafo vai receber esse estilo
 Para todos os spans receberem você de mudar o + por ~*/
p ~ span {
  font-size: 64px;
  color: yellow;
}
